@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    height: 150vh;
    display: flex;

    @media (max-width: 768px){
        height: 250vh;
    }
}

.left{
    width: 20%;
    position: relative;
    box-shadow: 0px 4px 10px rgba(13, 19, 255, 0.5);

    @media (max-width: 425px){
        display: none;
    }
}


.lc{
    height: 100px;
    width: 100%;
    background-color: #fff;
}

.logo-cont{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #E7EFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 80px;
    width: 65%;
}

.nav-cont{
    width: 100%;
    height: 60vh;
    /* border: 1px solid red; */
    /* background-color: #E7EFFF; */
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav-items{
    /* background-color: #000; */
    /* border: 1px solid #000; */
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-items ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.nav-items ul li{
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 10px;
}

.links{
    text-decoration: none;
    color: #0D62FF;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.5s ease-in ease-out;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;

    &:hover{
        background-color: #e8f0ff;
    }

    @media screen and (max-width: 768px){
        padding: 10px 10px;
        font-size: 0.8rem;
    }

    @media (min-width: 769px) and (max-width: 1024px){
        padding: 10px 10px;
    }
}

.links img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.active{
    background-color: #0D62FF;
    color: #fff;
}



.right{
    width: 80%;
    position: relative;
    /* border: 1px solid #000; */
    background-color: #E7EFFF;

    @media (max-width: 425px){
        width: 100%;
    }
}


.h-cont{
    height: 100px;
    width: 100%;
    border-radius: 12px;
    background-image: url('../../assets/header.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    padding: 0 3rem;

    @media (max-width: 425px){
        padding: 0 1rem;
        justify-content: center;
    }

}

.heading{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;

    @media (max-width: 425px){
        font-size: 1.8rem;
    }
}

.sub-heading{
    color: #fff;
    text-transform: capitalize;
    @media (max-width: 425px){
        font-size: 0.8rem;
    }
}

/* --------------- */

.top-sec{
    width: 100%;
    height: 25vh;
    /* border: 1px solid #000; */
    margin-top: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px){
        flex-direction: column;
        height: 50vh;
    }

    @media (max-width: 425px){
        height: 40vh;
    }

}


/* --------------- */

.middle-sec{
    width: 100%;
    height: 55vh;
    /* border: 1px solid #000; */
    margin-top: 1.8rem;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */

    @media (max-width: 768px){
        flex-direction: column;
        height: 80vh;
    }

    @media (min-width: 769px) and (max-width: 1024px){
        height: 45vh;
    }
}

.middle-left{
    width: 25%;
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 768px){
        width: 100%;
        height: 50%;
    }

    @media (min-width: 769px) and (max-width: 1024px){
        width: 40%;
        height: 100%;
    }
}

.middle-right{
    width: 75%;
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 768px){
        width: 100%;
        height: 50%;
        margin-top: 2rem;
    }
}

/* --------------- */

.bottom-sec{
    width: 100%;
    height: 40vh;
    /* border: 1px solid #000; */
    margin-top: 1.8rem;
    display: flex;

    @media (max-width: 768px){
        flex-direction: column;
        height: 80vh;
    }

    @media (min-width: 769px) and (max-width: 1024px){
        height: 35vh;
    }
}

.bottom-left{
    width: 55%;
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 425px){
        justify-content: space-between;
        padding: 0 1rem;
    }

    @media (max-width: 768px){
        width: 100%;
        height: 50%;
    }

    @media (min-width: 769px) and (max-width: 1024px){
        width: 70%;
        height: 100%;
    }
}

.bottom-right{
    width: 45%;
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 768px){
        width: 100%;
        height: 50%;
        margin-top: 2rem;
    }
}

.logo-for-mobile{
    display: none;
    @media (max-width: 425px){
        display: flex;
        width: 100%;
        height: 20vh;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #000; */
        margin-top: 1rem;
    }
}

.m-logo{
    display: none;
    @media (max-width: 425px){
        display: flex;
        width: 40%;
        height: 100px;
    }
}




